- if !user["picpath"] 
    - user_pic_path = "/img/default_user_pic.svg" 
- else
    - user_pic_path = "/img/uploaded_img/profile/" + user["picpath"] 

img src=user_pic_path alt="Användare '#{user["name"]}':s profilbild"/
p = "User name: #{user["name"]}"
p = "User type: #{user["type"]}"
p = "Following: #{user_ids_to_names(db, user[:following_ids])} (#{user[:following_ids].length})"
p = "Joined: #{format_unix_timestamp(user["creation_date"])}"
p = "Followers: #{user_ids_to_names(db, user[:follower_ids])} (#{user[:follower_ids].length})"
hr